/*styles.css*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&&family=Poppins:wght@300;400;500&display=swapdisplay=swap');

body {
  background: #ececec;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
}

button {
  width: 200px;
  height: 30px;
  background-color: black;
  color: #fd0000;
  border: 3px solid #fd0000;
  /* Green */
  transition-duration: 0.4s;
}

button:hover {
  background-color: #fd0000;
  /* Green */
  color: white;
}

.title {
  font-weight: 700;
  font-size: 52px;
  margin-bottom: 28px;
  margin-top: 28px;
  text-align: center;
}

.sub-title {
  font-weight: 400;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.control {
  font-weight: 600;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  margin-left: 64px;
  margin-bottom: 32px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.control-content {
  font-weight: 400;
  font-size: 16px;
}

.mouse-image {
  width: 3rem;
}

.footer {
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}